*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    max-width: 100% ;
    text-decoration: none;
    color: #000000;
}
main{
    width: 1280px;
    margin: 0 auto;
}
body{
    height: 100vh;
}


header{
    background-color: #3c1364;
    height: 50px;
    box-shadow: 0 0 1rem;
}

footer{
    width: 100%;
    background-color: #3c1364;
    height: 150px;
    bottom: 0;
}
.f2{
    position: absolute;
    width: 100%;
    background-color: #3c1364;
    height: 150px;
    bottom: 0;
}
.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 10%;
    margin: 0 auto;
    
}
.menu{
    width: 500px;
    margin: 0 auto;
    padding-top: 1%;
 
}
.menu a{
    margin-top: 10%;
    margin-right: 10%;
    text-decoration: none;
    color: gray;
}
.logowpp{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 0 20px 20px 0;
}

footer{
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-footer{
    text-align: center;
}
.info-footer p{
    max-width: 900px;
    margin: 0px;
    padding: 0px;
}
.logo-footer{
    width: 120px;
}

.footer-map{
    width: 70px;
    font-size: 12px;

}

.iframe-loc{
    margin-top: 3%;
    margin-bottom: 3%;
}
.iframe-loc iframe{
    margin-top: 2%;
    margin-bottom: 2%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-gap: 20px;
}
.peca{
    display: -ms-inline-grid;
    width: 300px;
    padding-top: 7px;
    text-align: center;
    border: 0.1cm black;
    border-style:solid;
    border-radius: 20px;
    box-shadow: 0 0 1rem;
}
.sobre{
    padding: 5%;
}
